* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-page {
    display: flex;
    height: 500px;
    width: 80%;
    margin: 12vh auto;
    border: 5px solid #fff;
    border-radius: 20px;

}

.form-login {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(22px);
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    color: #fff;
}

.login-img {
    width: 30%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img {
    object-fit: cover;
}

.title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.box-user , .box-pass{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
}

label {
    margin-bottom: 10px;
}


.inp {
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid #fff;
    outline: 0;
    border-radius: 20px;
    margin-bottom: 1rem;
    color: #fff;
}

::placeholder {
    color: #fff;
}

.box-btn {
    width: 100%;
    max-width: 50%;
}

.btn {
    width: 100%;
    padding: 0.5rem;
    background-color: #fff;
    border: 0;
    outline: 0;
    border-radius: 20px;
    margin: 1rem 0;
}

.text {
    color: #fff;
    font-size: 16px;
    margin: 1rem 0;
    text-decoration: none;
}


@media screen and (max-width:900px) {
    .login-img {
        display: none;
    }

    .form-login {
        width: 100%;
        border-radius: 14px;
    }
}

@media screen and (max-width:600px) {
    .title {
        font-size: 30px;
    }

    label {
        font-size: 15px;
    }

    .text {
        font-size: 12px;
        font-weight: 400;
    }

    .box-user , .box-pass , .box-btn {
        max-width: 100%;
    }
    
    .form-login {
        padding: 0 30px;
    }
}
